# B. Variables and Operations


We say, computers can store and manipulate data using variables. Python is a high-level programming language that allows its users to create and manipulate those variables very concisely compared to other programming languages like C, Java, etc. <br><br>
This week, we'll take a look at basic Python with a focus on `CRUD(Create, Read, Update, and Delete)` for data manipulation.<br><br>
In section 2, we will learn how to create and manipulate variables for each data type (e.g. string, integer, etc) using Python .

### _Objective_
1. **Python Variables**: Understanding the definition and characteristics of Python variables.<br>
2. **Basic Data Types and Operators in Python**: Understanding Python data types and operators.

# \[1. Python Variables\]

## 1. What is a Variable?

+ In python, a variable is a reserved memory space(identified by a memory address) paired with an associated symbolic name in the data storage.

<img src="https://i.imgur.com/sia1RaB.png" align=left width="400" height="450">


## 2. Variables in Python 

+ In Python, a variable can store data under a symbolic name, and the name is used for data access.

+ You can assign **values**, **variables**, or even **results of operations** to a variable

### (1) Assigning a value to a variable 

In Python, you can create a variable by assigning a value to it using an assignment operator `=`.<br>
It's also possible to assign a value to an existing variable by overwriting it with a new value.

In [1]:
a = True # Boolean (true or false) 
x = 1 # integer 
y = 1.2 # float 
z = "string" # string 

lst = [1,2,3,4,"a","b","c","d"] # list

In [2]:
# You can overwrite the old value with a new value of any data type to an existing variable.
# For instance, 1 in x is overwritten by a string "Hello python"

x = "hello python"

### (2) Naming conventions for variables
 - All variable names **must** begin with an alphabet or an underscore(`_`).
 - variable names can contain letters and numbers, but no whitespace or special characters are allowed.
 - Keywords such as "True", "False" or "if" cannot be used in a variable name.
 - Finally, a variable name should represent the values the variable is holding.

In [3]:
# A variable name with letters and numbers
hello1 = "Hello Python"

In [4]:
# However, variable names cannot begin with numbers
1hello = "Hello Python"

SyntaxError: invalid syntax (<ipython-input-4-377151ca9ac5>, line 2)

You can also use underscores `(_)` to denote whitespaces or make a variable name more human-readable. Though, underscores sometimes have special meanings in various python scenarios, and we will discuss it later.(Reference: [PEP 8 : Naming Conventions](https://www.python.org/dev/peps/pep-0008/#naming-conventions))

In [5]:
# A variable name cannot have whitespaces, but underscores(`_`)
greet_person = "Hello Everyone!"

Also, every programming language has some reserved words that are not supported as variable names. These are called **'keywords'** and perform predefined functions. (Reference: [Python Keywords] (https://www.w3schools.com/python/python_ref_keywords.asp))

In [6]:
try = 1 # 'try' is a keyword and occurs an error when used as a variable name

SyntaxError: invalid syntax (<ipython-input-6-742183496785>, line 1)

In [7]:
True = 1 # 'True' is a keyword and occurs an error when used as a variable name

SyntaxError: can't assign to keyword (<ipython-input-7-5be139665657>, line 1)

### (3) Storing a **calculated value** to a variable 

Variables can store results of calculations.

In [8]:
# `x` stores 3 which is the outcome of 1 + 2 
x = 1 + 2
x

3


### (4) Assigning a variable to a variable

A variable can store variables besides values. When a variable is assigned to another variable, the two variables refer to the same data (in the same memory space) without creating any new value.
In the examples below, you can see that the two variables, `x` and `y`, refer to the same memory space when `x` is assigned to `y`.

In [9]:
# Create a variable named `x` holding a value and assign it to another variable `y`
x = 1
y = x

print("x : ",x)
print("y : ",y)
print("id(x) : ", id(x))
print("id(y) : ", id(y))

x :  1
y :  1
id(x) :  4315338160
id(y) :  4315338160

### (5) Deleting variables 

When a variable is no longer needed, you can simply delete it with `del` keyword as shown below.

In [10]:
del x
id(x)

NameError: name 'x' is not defined

Once a variable is deleted, the variable will not be accessible anymore.

# \[2. Standard Data Types and Operators in Python\]

Python supports four standard data types, namely **Integer**, **Float**, **Boolean**, **String**, and provides a number of operators for data manipulation. Since each data type supports a different set of operators, or same operators sometimes perform different tasks for each data type, it's important to know how the operators work on each data type.

Then, let's take a look at data types and operators in more detail.

## 1. Integer/Float

+ In Python, there are two data types for numerical data, which are **integers** and **floating-point numbers (abbr. floats)**
+ Integer and float basically support the four basic arithmetic operators, **`+`, `-`, `*`, `/`** respectively to add, subtract, multiply, and divide values.
+ Besides, operators such as floor division(`//`), Modulo(`%`), and exponentiation(`**`) can be used on integers/floats

In [11]:
# `type()` returns the data type of value inserted.

print(type(1), '1 is an integer, abbreviated as int.')
print(type(1.2), '1.2 is a floating-point number, abbreviated as float.')

<class 'int'> 1 is an integer, abbreviated as int.
<class 'float'> 1.2 is a floating-point number, abbreviated as float.

### (1) Four standard arithmetic operations

#### Addition

In [12]:
1 + 2

3

In [13]:
# When calculating integer and floating-point values, the result is returned as floating point.
1 + 1.2

2.2

####  Subtraction

In [14]:
3 - 2

1

In [15]:
3 - 1.4

1.6

#### Multiplication

In [16]:
3 * 2

6

In [17]:
3.2 * 2

6.4

#### Division

In [18]:
4 / 2 # `/` returns a float by default

2.0

In [19]:
4.2 / 2.1

2.0

In [20]:
4.2 / 0 # dividing a float by zero returns `ZeroDivisionError`

ZeroDivisionError: float division by zero

### (2) More on Operators

#### Floor division

In [21]:
5 // 2 # returns only the quotient

2

#### Modulo

In [22]:
5 % 2 # returns only the remainder

1

#### Exponentiation

$3**2 = 3^2$

In [23]:
3 ** 2

9

In [24]:
3 ** 2.1

10.04510856630514

### (3) Assigning a formula to a variable

#### Arithmetic Operations using variables

Given $x=3,  y=2$, you can simply use the variables in arithmetic calculations just as $x^2 + y^3 + 2xy+3x + 4y$.

In [25]:
x = 3
y = 2
x**2 + y**3 + 2*x*y + 3*x + 4*y

46

### (4) Order of operations with parentheses ()

Just as in mathematics, you can use parentheses, `()`, to set the order of operations.<Br>

 Given $x=3,y=2$,<br>
 $x^2 + y^3 + 2xy+ 3(x + 4y)$ will be calculated as $3^2 + 3^3 + 2*3*2+ 3(3 + 4*2)$, returning 62 as the result.

In [26]:
x = 3
y = 2
x**2 + y**3 + 2*x*y + 3*(x + 4*y)

62


##  2. Comparison Operators and Boolean


+ In Python, Boolean is a data type that only represents one of two possible logical values, **'True' or 'False**'.  


+ Comparison operators compare two operands and return a Boolean value.

### (1) Comparison operators

| Operators | Name |
| --------- | ----------- |
|   a == b  | Equal |
|   a != b  | Not Equal  |
|   a > b   | a is greater than b |
|   a >= b  | a is greater than or equal to b |
|   a < b   | a is less than b |
|   a <= b  | a is less than or equal to b | <br> <br>

+ Comparison operators compare two values and return either 'True' or 'False'
+ In most cases, comparison operators do the same tasks as those in math.
+ `!=` and `>=` cannot be written inversely as `=!` or `=>`.
<br>

#### ==  (Equal)

In [27]:
1 == 1

True

#### != (Not equal)

In [28]:
1 != 2

True

#### > (Greater)

In [29]:
2 > 2

False

In [30]:
'a' <= 'b' # it can also be used on string data

True

#### >= (Equal or greater than)

In [31]:
2 >= 2

True

In [32]:
2 =< 2 # writing = and < in reverse order returns an error,

SyntaxError: invalid syntax (<ipython-input-32-21952c1769a0>, line 1)

####  < (Less)

In [33]:
2 < 3

True

#### <= (Equal or less)

In [34]:
2 <= 3

True

### (2) Logical operators

+ In Python, there are logical operators that can be used on two conditional statements


| Operators | Description |
| ---- | ---- |
| a and b | Returns True if both statements are true |
| a or b | Returns True if one of the statements is true  |
| not b | Reverses the result, returns False if the result is true |
| a is b | Returns True if both variables are the same object |

#### and

**`and`** returns True if both statements are true.

In [35]:
True and True

True

In [36]:
True and False

False

In [37]:
False and False

False

#### or
**`or`** returns True if either of the statements are true.

In [38]:
True or True

True

In [39]:
True or False

True

In [40]:
False or False

False

#### not
**`not`** returns a True when the Boolean is False, and vice versa.

In [41]:
not True

False

In [42]:
not False

True

### (10) Combining logical operators

In [43]:
# given x,y,z as below,
x = 1
y = 3
z = 4

# you can use multiple logical operators in combination with comparison operators 

(z > x and z > y) or not (y <= x)

True

#### `is` operator

Both `==` and `is` operator compare two operands. However, `is` determines if two operands refer to the **same memory space** while `==` checks the **equality of two values**. 

In other words, `is` operator tests identity of the operands(i.e., address in memory)

In [44]:
# Creating two lists with the same values

a = [1,2,3,4,5] 
b = [1,2,3,4,5] # list b containing the same values as list a

In [45]:
print("a is stored at ", id(a))
print("b is stored at ", id(b))

a is stored at  140579783661896
b is stored at  140579788113288

In [46]:
# Testing if values in `a` are equal to those in `b` 
a == b

True

In [47]:
# Testing if `b` refers to what `a` refers to for id 
a is b

False

##  3. Strings

+ In Python, a string is a sequence of characters. You can directly use operators or built-in functions on strings.
 
+ Python provides a number of powerful features for strings.

### (1) Creating strings

Strings can be created by enclosing characters inside single quotes(`'string'`) or double-quotes(`"string"`). <br>
 -   i.e., 'Hello' or "Hello"

In [48]:
str1 = "hello"
print(str1)

hello

If you want multiline strings and docstrings, you can use triple quotes(`'''strings in multiple lines'''`) before and after the strings.

In [49]:
str1 = """
When summer ended
the leaves of snapdragons withered
taking their shrill-colored mouths with them.
They were still, so quiet. They were
violet where umber now is. She hated
and she hated to see
them go. Flowers

born when the weather was good - this
she thinks of, watching...

Emplumada by LORNA DEE CERVANTES
"""
print(str1)

When summer ended
the leaves of snapdragons withered
taking their shrill-colored mouths with them.
They were still, so quiet. They were
violet where umber now is. She hated
and she hated to see
them go. Flowers

born when the weather was good - this
she thinks of, watching...

Emplumada by LORNA DEE CERVANTES

### (2) Operators on strings

You can use `+` or `*` on strings for addition and multiplication. Though, they work differently from what we've previously seen on numbers.

#### Addition and Multiplication of Strings

In [1]:
# Adding two strings
# if  a `+` is used on strings, it concatenates a string to another.
str1 = "Hello, "
str2 = "world!"

str1 + str2

'Hello, world!'

In [4]:
# Multiplying a string
# if  a `*` is used on a string, it repeats the string for the number of times the string is multiplied by.

str1 = "Hello!"
str1*3

'Hello!Hello!Hello!'

### (3)  **`len()`** - Counting the number of characters

If you want to find out how many characters the string is made of, you can easily use a Python built-in function `len()`.

In [52]:
str1 = "Hello~ "

len(str1)

7

### (4) String indexing

In Python, Strings are ordered sequences of character data. Indexing allows you to access individual characters in a string directly by using a numeric positional value. String indexing is zero-based which means the first element of a string is indexed 0 and then 1 and so forth. You can access each character by referring to its positional value in square brackets or indexing brackets `[ ]`

Here, note that you can also select a range of characters from a string by creating a range of index numbers separated by a colon [x:y].
The first index number `x` is where the slice starts (inclusive), and the second index number `y` is where the slice ends (exclusive).

In [53]:
# String indexing
str1 = "This is Python World!"

In [54]:
# Accessing the 4th value
str1[3]

's'

In [55]:
# extracting values from the 0th position to less than the 4th 
str1[0:4]

'This'

### (5) Splitting a string

You can split a string using the `split()` function.
It splits a string into a list where each word is a list element. You can specify the separator. By default, the separator is any whitespace.

split() syntax: `.split(separator, maxsplit)`

In [56]:
str1 = "This is Python World!"

In [57]:
# Splitting a string on any whitespace
str1.split(" ")

['This', 'is', 'Python', 'World!']

In [58]:
# Splitting a string on any 's'
str1.split('s')

['Thi', ' i', ' Python World!']

In [59]:
str1.split(' ', 2) # splits the string only twice.

['This', 'is', 'Python World!']

### (6) String formatting 

**String formatting** uses a process of string interpolation to evaluate a string literal containing one or more placeholders, yielding a result in which the placeholders are replaced with their corresponding values.

For instance, there are sentences you need to repeat at every epoch in Deep Learning. 

```python
val_loss_change = "Epoch 00001: val_loss improved from inf to 0.15311"
```
If you want to keep only the format of this sentence while the value repeatedly changes, you can do something like this

In [60]:
step = 32
percent = 92.3

info = "Epoch " + str(step) +": val_loss improved from inf to "+ str(percent)
info

'Epoch 32: val_loss improved from inf to 92.3'

#### String formatting with `.format()`

In [61]:
"Epoch {}: val_loss improved from inf to {}".format(step, percent)

'Epoch 32: val_loss improved from inf to 92.3'

#### String formatting with `f-string`

In [62]:
f"Epoch {step}: val_loss improved from inf to {percent} "

'Epoch 32: val_loss improved from inf to 92.3 '