# C. Data Structure


In the previous lesson, it was said that computers can store and process many types of data. Since the amount of data a computer processes is huge, data should be stored efficiently for a timely access and process. In order to achieve it, we use something called "Data structures". So, let us go through the topics we should cover about Python data structures.

### _Objectives_
1. **Data Structures**: Understanding each type of data structure and learning how to handle it.

<img src="https://imgur.com/koS7UJA.jpg" align=left width="700" height="600">

# \[1. List\]

Python List is one of the data structures which is a mutable or changeable and ordered sequence of elements.

## 1. Characteristics and Operations 

+ In Python, a list is created by placing all the elements inside square brackets (`[]`), separated by commas.  

+ A list is an ordered sequence of elements with each element associated with a positional number called **'index'**. Python uses zero-based indexing and indices function as indicators used for accessing specific elements.

+ On top of that, Python provides a number of built-in functions and methods for list manipulation. They are `index()`, `append()`, `insert()`, `extend()`, `remove()`,`pop()`, etc.

### (1) Creating a list
In Python, You can create a list by **<code>[ ]</code>** or **<code>list()</code>**. List can hold values of any data type with each value separated by commas.

In [1]:
lst0 = [] # creating an empty list
lst0 = list()
lst0

[]

In [2]:
lst1 = [1,2,3,4,5] # creating a list of multiple values
lst1

[1, 2, 3, 4, 5]

In [3]:
lst2 = [1,2,3,5.5,"str1"] # list of a string and 5 integers
lst2

[1, 2, 3, 5.5, 'str1']

In [4]:
var1 = 1 # creating a list containing variables and numbers
lst3 = [var1, 2,3,4, lst2]
lst3

[1, 2, 3, 4, [1, 2, 3, 5.5, 'str1']]

### (2) List Indexing 

A list is an ordered sequence of elements, and each element is associated with an index. You can select or access each element value by referencing its index in <code>[&nbsp;].</code> <br>
Note that Python uses zero-based indexing, whereby the first element is associated with the index value 0.

The syntax of list indexing is the same as that of tuple and strings indexing.

In [5]:
lst = [1,2,3,4,5]

In [6]:
# accessing the element of the index value of 2 in Ist 
lst[2]

3

In [7]:
# Python supports negative indexing proceeding backwards from the last element to the first element of a list.
# In negative indexing, the first index value -1 is linked to the last element of the list, -2 to the second last element and so on.
lst[-1]

5

In [8]:
# Selecting a range of elements in a list using a colon (:)
# Accessing the list elements of index 1(inclusive) to 4 (exclusive)
lst[1:4] # the number on the left indicates the starting index (inclusive) and that on the right is where the access ceases.

[2, 3, 4]

In [9]:
# Accessing the list starting at index 3 to the end
lst[3:]

[4, 5]

In [10]:
# You can insert an argument for "step" to determine the amount by which the index increases, defaults to 1. 
# If `step` is a negative number, the list slicing proceeds in reverse order.

lst[0:5:2] # accessing every second element of lst

[1, 3, 5]

In [11]:
# `in` operator checks if the given value exists in the list
1 in lst

True

### (3) Modifying lists
Python list is a mutable, which says the elements can be modified using index values.

In [12]:
# Changing the third element of lst to 6
lst = [1,2,3,4,5]
lst[2] = 6
lst

[1, 2, 6, 4, 5]

If a list is too long, it will be difficult to find the index of elements we want to access. In that case, you can use `.index()` to find the index of the value of interest at its first occurrence.

In [13]:
lst = [1,2,3,4,5]
lst.index(4) # searching for the index where a value 4 appears for the first time.

3

In [14]:
lst.index(7) # ValueError occurs if the desired value is not in the list.

ValueError: 7 is not in list

### (4) Adding elements to a list
In Python, there are times you need to add new elements to somewhere in a list, to the end, beginning, or to the middle. In that regard, Python provides three different methods, which are `append()`, `extend()`, and `insert()`. Let's look at how each of them works.

In [ ]:
lst = [1,2,3,4,5]

`.Append()` - adds its argument as a single element to the end of a list. The length(size) of the list increases by one

In [15]:
# Adding a new value to the end of a list
lst.append(6)
lst

[1, 2, 3, 4, 5, 6]

In [16]:
# Adding a new list to the end of a list
lst.append([1,2])
lst

[1, 2, 3, 4, 5, 6, [1, 2]]

`.extend()` - iterates over its argument and adding each element to the list and extending the list. The length of the list increases by number of elements in its argument.

In [17]:
# Adding two values to the end of lst
lst.extend([1,2])
lst

[1, 2, 3, 4, 5, 6, [1, 2], 1, 2]

`.insert()`- inserts new elements at a specified position within the given list. The length of the list increases by one.

In [18]:
# Inserting a value to the specific position of the list 
# In this case, we're inserting a float, 2.5, to the position of index 2 of the list. 
lst.insert(2,2.5)
lst.insert(2,2.5)
lst

[1, 2, 2.5, 2.5, 3, 4, 5, 6, [1, 2], 1, 2]

### (5) Removing elements from a list
You can delete list elements using **`del`**, **`.remove()`** or **`.pop`**.

`del` - removes the element at a specific index

In [19]:
lst = [1,2,3,4,5]
del lst[0] # removing by referring to the index value
lst

[2, 3, 4, 5]

`.remove()` - removes the first matching value, not a specific index

In [20]:
lst = [1,2,3,4,5] 
lst.remove(4) # removing an element by referring to the value to be removed
lst

[1, 2, 3, 5]

In [21]:
lst.remove(0)
lst # ValueError if the given value is not in the list

ValueError: list.remove(x): x not in list

`.pop()` - removes the element at a specific index and returns the deleted value.

In [22]:
lst.pop(2) # returns the element of the index to be removed

3

In [23]:
lst

[1, 2, 5]


## 2. List Operators and Functions

+ You can use operators on lists just as on strings or integers
+  `+` and `*` operators extend a list and `zip` aggregates elements of two lists.
+ you can also use other built-in functions such as `len()` to measure the length of a list or `sorted()` to sort elements of a list

### (1) Addition(`+`)

The `+` operator creates a new list by concatenating the given lists

In [24]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1 + lst2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### (2)Multiplication(`*`) 

The `*` operator creates a new list by repeating the given list for the given number of times

In [25]:
lst1 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### (3) Joining two lists - **`zip()`**

The `zip()` function returns a zip object, which is an iterator of tuples where the first elements of the given lists are paired together, and then the second elements, and so forth.

In [26]:
lst1 = [1,2,3,4,5]
lst2 = ["a","b","c","d","e"]
list(zip(lst1,lst2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

### (4) Checking the length of a list - **`len()`**
**`len()`** returns the number of elements in a list
.

In [27]:
lst = [1,2,3,4,5]
len(lst)

5

### (5) Sorting list elements - **`sorted()`**
**`sorted()`** sorts the given list elements in a specific order, typically either in ascending or descending order.

In [28]:
lst = [1,3,2,4,5]

In [29]:
# Sorting list elements in ascending order (Default)
sorted(lst)

[1, 2, 3, 4, 5]

In [30]:
# Sorting list elements in descending order 
sorted(lst,reverse=True)

[5, 4, 3, 2, 1]

<hr>

# \[2. Tuple\]


A **`tuple`** is a data structure that contains an ordered collection of comma-separated elements just as Python lists. However, It is **immutable(unchangeable)** and thus less flexible than lists.

## 1. Characteristics and Operations

+ A tuple is created by placing elements between in **`( )`** or **`tuple()`**.

+ A tuple is a sequence of values with index values.

### (1) Creating a tuple

In [31]:
tpl = () # creating an empty tuple
tpl = tuple()
tpl

()

In [32]:
tpl = (1,2,3,4,5) # creating a tuple of five elements.
tpl

(1, 2, 3, 4, 5)

In [33]:
tpl = (1,2,3,5.5,"str1") # creating a tuple of five numbers and a string
tpl

(1, 2, 3, 5.5, 'str1')

In [34]:
var_1 = 1 
tpl_1 = (var_1, 2,3,4, tpl) # creating a tuple of three numbers and two variables
tpl_1

(1, 2, 3, 4, (1, 2, 3, 5.5, 'str1'))

### (2) Tuple Indexing

The syntax of tuple indexing is the same as that of list and strings.

### (3) Modifying tuples - Not Supported!

A tuple is an immutable data structure and doesn't allow any change in its content once created. An attempt for any modification will raise an error as what you see in the example below.

In [35]:
tpl= (1,2,3,4,5)
tpl[2] = 6 # attempt to change the third element to 6

TypeError: 'tuple' object does not support item assignment

## 2. Tuple Operators and Functions

+ Operators on tuples work in the same way as on lists

# \[3. Set \]

A **`set`** is one of the Python data structure that contains an unordered collection of unique values. As a collection of unique values, a set does not accept any duplicates.

## Characteristics and operations

+ A set is used as a means of avoiding data redundancy as it does not allow duplicates. <br> 

+ Being an unordered collection of unique values, set elements are unindexed and unable to be accessed in the way we access list or tuple elements.

### (1) Creating a set

A set is created by wrapping comma-separated unique values with curly brackets **`{ }`** or by the set notation `set()`. Sets accept values of or in any data type or structure except for Python list.

In [36]:
set0 = set() # creating an empty set
set0

set()

In [37]:
set1 = {1,1,2,"2","text","text",3} # creating a set for unique integers and strings
set1

{1, 2, '2', 3, 'text'}

In [38]:
set2 = {1,2,[1,2,3]} # a set does not accept a list in it.

TypeError: unhashable type: 'list'

In [39]:
set2 = {1,2,(1,2,3)} # the order of tuple elements is different from the order in which they were entered 
set2

{(1, 2, 3), 1, 2}

### (2) Accessing set elements
Set elements are unindexed, and the conventional indexing syntax is not supported on sets. Instead, you can check whether a specific value exists in a set using `in` operator.

In [40]:
set1 = {1,1,2,"2","text","text",3} 
set1[0] # set indexing - not supported!

TypeError: 'set' object does not support indexing

In [41]:
set1 = {1,2,3,4,5} # checking the existence of a specific value
print('6 in set1?', 6 in set1)
print('1 in set1?', 1 in set1)

6 in set1? False
1 in set1? True

### (3) Adding new elements to a set

You can add new elements using `add()` or `update()` depending on the number of elements to be added

In [42]:
set1 = {1,2,3,4,5}

In [43]:
set1.add(6) # adding a single element to an existing set
set1

{1, 2, 3, 4, 5, 6}

In [44]:
set1.update({7,8,9}) # adding two or more elements to an existing set
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### (4) Removing elements from a set
You can remove set elements using `remove()`

In [45]:
set1 = {1,2,3,4,5}

In [46]:
set1.remove(4) # removing 4 from set1
set1

{1, 2, 3, 5}

In [47]:
set1.remove(6) # returns an error unless the value `6` is not in set1
set1

KeyError: 6

## 2. Set Operations and Functions


+ A set, as the name suggests, support following set operations.

| Operation | Description |
| --- | --- |
|  $&$    | Intersection - elements that exist in both set |
|  $|$   | Union - elements from both sets excluding duplicates |
|  $A-B$ | Difference - elements in A that are not in B |
|  $^$   | symmetric difference - elements in either A or B, but not in their intersection|

In [48]:
A = {1,2,3,5}
B = {3,5,6,8,9}

### (1) Intersection
- returns a set of unique values that are in set A **and** set B

In [49]:
A & B

{3, 5}

### (2) Union
- returns a set of unique values that are either in set A **or** set B, including the intersection

In [50]:
A | B

{1, 2, 3, 5, 6, 8, 9}

### (3) Difference
- returns a set of unique values that are in set A but not in set B

In [51]:
A - B

{1, 2}

### (4) Symmetric difference
- returns a set of unique values that are in either of set A or set B, excluding intersection

In [52]:
A ^ B

{1, 2, 6, 8, 9}

In [53]:
set1 = {1,2,3,4,5}
len(set1)

5

### (5) Finding the length of a set - `len()`

**`len()`** returns the number of elements in a set.

In [54]:
set1 = {1,2,3,4,5}
len(set1)

5

### (6) Sorting set elements - **`sorted()`**

Despite a set is an unordered and unindexed collection of unique values, set elements can be sorted using **`sorted()`**, which then returns a sorted list of the given set in a specific order.

In [55]:
set1 = {1,2,3,4,5}
sorted(set1)

[1, 2, 3, 4, 5]

# \[4. Dictionary\]
Dictionary(abbr. Dict) is one of the Python data structures that stores **key/value** pairs

## 1. Creating a Dictionary

+ A dictionary is created with **`{'key':'value'}`** or **`dict()`**.

+ A dictionary is an unordered collection of key-value pairs. A dictionary key functions as an identifier of the associated value, and a dictionary value can be searched by its key.

+ A dictionary can store data of any type. 

+ A dictionary does not accept duplicates for its keys

+ Keys in a dictionary can be of **any data type**.

### (1) Creating a dictionary

A dictionary consists of **key**/**value** pairs and can be created by `{'key': 'value'}` or `dict({'key': 'value})`.

In [56]:
dict0 = {} # creating an empty dictionary
dict0 = dict()
dict0

{}

In [57]:
dict1 = dict({"1": 2})
dict1

{'1': 2}

In [58]:
dict1 = {'1':'a', 
        '2':'b',
        '3':1,
        'c':'test'} # creating a dictionary of four key/value pairs
dict1

{'1': 'a', '2': 'b', '3': 1, 'c': 'test'}

In [59]:
dict1 = {'1':'a', 
        '2':[1,2,3,4],
        '3':(1,2,3),
        'c':{1:'1',2:'2'}} # a dictionary accepts other data structures such as lists, tuples, dictionaries, etc.
dict1

{'1': 'a', '2': [1, 2, 3, 4], '3': (1, 2, 3), 'c': {1: '1', 2: '2'}}

### (2) Dictionary Indexing
 
Values in a dictionary are associated with key values instead of index and can be accessed by its key.

In [60]:
dict1 = {"1":"a",
         "2":"b",
         "3": 4}

In [61]:
dict1['1'] # searching for a value of the key "1"

'a'

In [62]:
dict1[3] # the keys are strings while the argument is a number

KeyError: 3

Using `in`, you can check whether or not the given key value exists in the dictionary.

In [63]:
"1" in dict1

True

In [64]:
3 in dict1

False

If there is a list of values in the dictionary, the element at a specific position in the list can be accessed by index.

In [65]:
dict1 = {'1':'a',
        '2':[1,2,3,4],
        '3':(1,2,3),
        'c':{1:'1',2:'2'}}
dict1['2'][0] # getting the value at index 0 from the list whose key value is '2' in dict1

1

### (3) Modification of a dictionary

In [66]:
dict2 = {"1":"a","2":"b","3":"4"}

In [67]:
dict2['4'] = 'hello' # adding a value "hello" of a key '4' in dict2
dict2

{'1': 'a', '2': 'b', '3': '4', '4': 'hello'}

In [68]:
dict2['1'] = 10 # changing the value of the key '1' from 'a' to 10
dict2

{'1': 10, '2': 'b', '3': '4', '4': 'hello'}

### (4) Removing dictionary elements

 You can delete the value in the Dictionary with `del`.

In [69]:
dict2 = {"1":"a","2":"b","3":"4"}

In [70]:
del dict2['1'] # using `del` to remove a key/value pair of the key value '1'
dict2

{'2': 'b', '3': '4'}


## 2. Dictionary Operators and Functions

+ Python dictionary objects do not support `+`, `*` and `zip()`.
+ `len()` counts the number of dictionary key/value pairs(length), and `sorted()` sorts key values in a specific order.

### (1) Checking the size with `len()`
- `len()` returns how many **keys** are in a Dictionary.

In [71]:
dict1 = {1:2,2:[3,4,5]}
len(dict1)

2

### (2) sorting with `sorted()`

- `sorted()` sorts dictionary **keys** only, returning a list for the sorted keys value.

In [72]:
dict1 = {1:2,2:[3,4,5]}
sorted(dict1,reverse=True)

[2, 1]